{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'stream/css/stream.css' %}">
{% endblock %}

{% block title %}Stream{% endblock %}

{% block content %}
<div id="content_all">
    <div id="content_left">
        <p> </p>
    </div>
    <div id="content_main">
        {% block stream %}
        {% endblock %}
    </div>
    <div id="content_right">
		<h1 class="content_heading">Users</h1>
		<div class="card">
			{% for user in users %}
			<p>{{ user.username }}</p>
			{% endfor %}
		</div>
    </div>
{% endblock %}
